**/Debug
**/Release
*/Debug/
*/Release/
**/.xdchelp
**/.config
*/.config/
**/.launches
*/.launches/
**/targetConfigs
*/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
/Ulzii/
/Emuujin/
/org.eclipse.core.resources.prefs
.settings/
