**/Debug
**/Release
*/Debug/
*/Release/
**/.xdchelp
**/.config
*/.config/
**/.launches
*/.launches/
**/targetConfigs
*/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
**/simplelink_msp432p4_sdk_3_40_01_02/
/Ulzii/
